body {
    margin: 0px;  /*60px;*/
    width: 100%;
}

/*nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0;*/  /*40px;*/
    /*margin: 0; */  /**/
    /*list-style: none;
    font-weight: bold;
    height: 10%;
}*/

/*nav ul li, footer ul li {
    display: inline;*/
    /*margin-right: 20px;
    margin-left: 20px;*/
    /*overflow: hidden; */
    /*background-color: #333;*/
    /*position: fixed; */ /*Set the navbar to fixed position*/
    /*top: 0;*/ /*Position the navbar at the top of the page*/
    /*width: 100%; *//*Full width*/
/*}*/

ul {
    list-style-type:none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a: hover {
    background-color: #111;
}


a {
    text-decoration: none;
    color: #333; /*#666;*/
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}

.image {
    width: 300 px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.column {
    float: left;
    padding: 100px;
}
 
.column.left {
    width: 25%;/*400px;*/
}

.column.right {
    width: 75%;
}

/*Clear floats after the columns*/
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 1000px) {
 .column.left, .column.right {
     width: 100%;
  }
}
