<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    			<ul>
					<li><a href="/">Kay Hutchinson</a></li>
					<li><a href="/research">Research</a></li>
					<li><a href="/publications">Publications</a></li>
					<li><a href="/awards_and_activities">Awards and Activities</a></li>
	        		
	    			</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<!--<footer>-->
	    		<!--<ul>
	        		<li>--><!--<a href="mailto:kch4fk@virginia.edu">kch4fk@virginia.edu</a>--><!--</li>-->
	        		<!--<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>-->
				<!--</ul>-->
			<!--</footer>-->
		</body>
	</html>
